[2019-02-28 20:51] lestephane opened #1 "Is there a verbose execution mode?"
I'd like to see some output when running `hledger-makeitso import`

Background: `hledger-makeitso import` repeatedly failed for me when I tried makeitso for the first time today. I eventually figured that I called my preprocess script _preprocessor_ instead of  _preprocess_

[2019-03-01 05:31] apauley commented on #1
Hi @lestephane, yes, it is definitely needed, I'll work on this when I get some time.
No promises exactly when (I'm away for the weekend), but it should be easy to do.

Thinking aloud here: perhaps a single `-v` to `hledger-makeitso import` would make it print some basic information, with more than one `v` added would cause it to print more information, and pass along the verbose flags to custom s

[2019-03-01 10:53] apauley commented on #1
@lestephane I've started a branch and a pull request to work on this:
https://github.com/apauley/hledger-makeitso/pull/2

Currently the import subcommand will accept a verbose flag on that branch, but it doesn't use the flag just yet.
More commits on this PR should address that.

[2019-03-03 20:54] apauley commented on #1
Hi @lestephane, I've added some verbose output on the `ISSUE-1-verbose-output` branch.

Could you try it out?

This is an example of what you might see:
[code]

[2019-03-04 20:52] apauley commented on #1
I changed the output to include the execution times of the custom scripts and a few other tweaks:

[code]

[2019-03-04 22:03] apauley commented on #1
Optional verbose mode is now in master, after #2 has been merged

[2019-03-04 22:03] #1 closed

[2019-03-15 06:13] lestephane commented on #1
Thanks, I'll try it out!

On Tue, Mar 5, 2019 at 12:03 AM Andreas Pauley <notifications@github.com>
wrote:

[2019-03-15 06:54] apauley commented on #1
@lestephane There has been another merge that might affect you if you already got to a point where you created an opening journal. The file needs to move one level up now.

The PR description has more details: https://github.com/apauley/hledger-makeitso/pull/3

[2019-03-19 10:20] lestephane commented on #1
Ok thanks, I still haven't gotten to it yet

On Fri, Mar 15, 2019 at 8:54 AM Andreas Pauley <notifications@github.com>
wrote:

[2019-03-23 07:25] apauley opened #6 "Generate a recent-years.journal on each level similar"
In #5 we created an `all-years.journal` for each owner, bank and account.

Pointing your `LEDGER_FILE` to this `all-years.journal` may become slow for people with many years of input data.

Write a `recent-years.journal` next to each `all-years.journal` which contains only the 3 most recent years.

Bonus: include a command-line option to specify a number of years other than 3.
`hledger-makeitso im

[2019-03-23 07:32] apauley opened #7 "Import statements in parallel"
Right now the input statements are converted into journal files sequentially.

Change the import logic to process them in parallel.

[2019-03-27 20:45] #7 closed

[2019-04-05 21:41] apauley opened #10 "Log the exit status of each shell command"
Verbose logs for the external script hooks and other shell commands currently do not log the exit status of the command:
[code]

Log the exit code as well, so that the logs look something like:
[code]

This will probably require us to change usages of `procs` into `proc`.

Documentation that may prove useful:
https://hackage.haskell.org/package/turtle-1.5.13/docs/Turtle-Prelude.html#v:proc

[2019-04-05 21:47] apauley opened #11 "Print the command-line options if requested"
Add a command-line switch that will cause the values of all options to be printed.

This will include the basedir being used, and the value of any of the other command-line flags that can be passed in, e.g. the current verbosity.

[2019-04-05 21:51] apauley opened #12 "Add a command-line option to disable parallel processing"
If the option is specified the program will import statements sequentially. The same for report generation.

Parallel processing should still be the default behaviour.

[2019-04-05 21:53] apauley opened #13 "Add a command-line option to suppress all output (--quiet)"
Add a --quiet switch which would suppress all output, except for failures causing the program to exit.

This is incompatible with --verbose, if both are specified we should exit with an error message.

[2019-04-05 22:00] apauley opened #14 "Design the Command Line User Interface"
Evaluate all command-line options.
Design a good user interface for both interactive use and scripting.

Does the names of the options make sense? Can we anticipate possible name clashes for future options?

Should some subcommands options be moved to the main options, if they apply to all subcommands?

[2019-04-06 13:29] apauley opened #15 "Change the version subcommand into a --version option"
Displaying the version of the command is currently  implemented as a subcommand:
[code]

Change this into a `--version` flag, with a short option of `-V`.

The short `-V` has to be capitalized because a lower-case `-v` is reserved for a verbose flag.

[2019-04-09 20:58] #10 closed

[2019-04-09 21:04] apauley opened #18 "Read default options from a config file"
The config file location should be the basedir, but the location could also be specified via a command-line option.

The config file would support the same options as the command-line options.

In all cases the options specified via the command-line would override any option present in a config file.

[2019-04-13 06:07] lestephane opened #20 "verbose execution output looks mangled"
I've tried the verbose execution mode flag (-v) and the output looks really weird:

[code]

I cannot add the full output as, if later demangled, if could contain personal information.
If you need the full output, i can provide it to the author using send.firefox.com

Some notes about my setup:
- Ubuntu 16.04
- hledger-flow 0.11.0.0
- home directory is ecrypfs encrypted
- additionally, the director

[2019-04-13 06:31] apauley commented on #20
This looks like an issue related to the concurrent processing of statements, and which I thought I had fixed.

Look at this commit message:
https://github.com/apauley/hledger-flow/commit/6822508180e8275cc7d3494df79fa66e9b37b288

Does your output look similar?

You can run the command using this data to avoid sharing private information:
https://github.com/apauley/hledger-flow-example

The only une

[2019-04-13 06:35] apauley commented on #20
Another thing, the example finances repo contains a submodule, so before you can run the command against the sample data you'll have to:

[code]

https://github.com/apauley/hledger-flow#after-cloning-this-repository

[2019-04-13 06:45] lestephane opened #21 "rules lookup should be extended to look for rules in additional paths"
Background: I'm defining some rules files for financial institutions that other people may find useful as well (Revolut in EU and soon US, FFB in DE). I would like to share them in GitHub.

Problem: the rules files (.rules, preprocess) must be in the same directory where the yearly sub-directories are located, or in a parent directory. There is no way to 'discover' these files in some other siblin

[2019-04-13 07:44] apauley commented on #21
Interesting use case, I'll have to think about it some more.

Very nice idea though to have a place where people can share scripts and rules files!
Similar to the example rules files in hledger, but also supporting scripts.
https://github.com/simonmichael/hledger/tree/master/examples/csv

I'm using symlinks to point some of my `preprocess` and `construct` scripts to scripts maintained elsewhere. H

[2019-04-13 08:33] apauley commented on #21
Another option, instead copying the rules file with a script, could be to have an `include` line in the `hledger-flow` rules file which just points to the path of the external rules file.

[2019-04-13 13:47] apauley opened #22 "Look for hledger on start of execution"
Run `hledger --version` on start of execution to determine if `hledger` is in the path.

Exit with a helpful error message if `hledger` cannot be found.

The error message we currently see when running `hledger-flow` on a system that doesn't have `hledger` installed isn't very helpful:
[code]

Keep the `hledger` version number around so that it can be used by other parts of the program.
It will be

[2019-04-13 15:04] apauley commented on #20
I'm adding an import step to CI so I can see the output on more machines.

Here is an example build (look for the `hledger-flow import` step):
https://circleci.com/gh/apauley/hledger-flow/56

Looks OK to me, I haven't been able to reproduce the issue.

Waiting for @lestephane to provide more info, e.g. if this happens when compiled using GHC 8.6.4

[2019-04-14 06:11] lestephane commented on #20
It is unreproducible with my version of hledger-flow (the one with the old ghc) and your examples repo.
I'm still stumped.

[2019-04-14 06:11] lestephane commented on #20
I'm using the GHC from the ubuntu 16.04 repo. Wouldn't want to mess with that if I can help it.

[2019-04-14 06:20] lestephane commented on #21
I prefer sticking to the hledger feature set rather than complicate your codebase.
include (in the sense of what is described at https://hledger.org/manual.html#include) would work, what about preprocess scripts though?

[2019-04-14 06:25] lestephane commented on #20
The mangled output does indeed look similar

[2019-04-14 06:33] lestephane commented on #20
Your examples repo only deals with one financial institution. I have two.
Could it be that you've fixed the concurrency problem for the one-institution+multiple-statements case, but that the problem still exists for the multiple-institutions+multiple-statements case?

[2019-04-14 09:34] apauley commented on #20
Stack uses its own version of GHC that doesn't interfere with the system GHC. It is specified by the resolver in stack.yaml, so unless you're modifying the build instructions, stack should compile with GHC 8.6.4 which it downloaded itself.

You can check the GHC version by running:
`stack exec -- ghc --version`

[2019-04-14 09:43] apauley commented on #20
And if you run it with the version that I compiled on your personal data?

Could the mangled output be the output from the `preprocess` scripts?
What do you use for those scripts?

`hledger-flow` converts the input in parallel, so the `preprocess` scripts and other commands will be running concurrently.
I haven't seen mangled output coming from these external scripts myself, but I guess it is stil

[2019-04-14 09:47] apauley commented on #20
I don't think this is the issue - I'm also running `hledger-flow` against data with multiple owners, each with multiple institutions and accounts over many years, and I don't see it there.

[2019-04-14 10:01] apauley commented on #20
If we go with the theory that `hledger-flow`'s parallel processing doesn't always play well with external script output, then there are some options we can consider.

At the moment `hledger-flow` doesn't do anything with the external script output, it leaves that entirely to those scripts. This is nice in the sense that users will see the output from those scripts as it happens.

But we could also

[2019-04-14 10:06] apauley commented on #21
The preprocess script could be a simple shell script that just runs the one you maintain elsewhere

[2019-04-14 16:53] lestephane commented on #20
For the preprocess script I was using python (a script i admittedly don't need if I correctly use .rules)

[code]

[2019-04-14 17:21] lestephane commented on #21
Sure, that works too

[2019-04-14 17:21] #21 closed

[2019-04-14 17:24] lestephane commented on #20
Did your concurrency fix also cover standard error (STDERR) mangling, not just standard output (STDOUT)?

[2019-04-14 18:23] apauley commented on #20
It handles both stdout and stderr, but only its own output, not for external scripts:
https://github.com/apauley/hledger-flow/pull/8/commits/3d28857d25ad1d98aa764d6073a48ce20fc866c7#diff-0eb3276dd6fe22479e50626f9d79774fR72

I'll try out some options to make this better in a few days.
The one option is capturing external script stdout and stderr and making it part of `hledger-flow` output.

Another

[2019-04-14 18:28] lestephane commented on #20
I'm rather clueless about Haskell, but if indeed the scripts output is just forwarded as-is to the terminal without any line buffering, it would indeed cause the problem. A command-line switch to disable concurrency would work for me.

[2019-04-14 20:17] #12 closed

[2019-04-14 20:44] apauley commented on #20
@lestephane I've released version 0.11.1 that has a sequential flag:
https://github.com/apauley/hledger-flow/releases/tag/v0.11.1.0-beta

Can you test if this solves the mangled output issue?

This is what it looks like on the example data:
[code]

See how the `Begin:`s and `End:`s are grouped.
With parallel processing all the `Begin:`s are shown together at the same time, and the `End:`s only lat

[2019-04-15 06:04] lestephane commented on #20
I'll use the `--sequential` flag all the time. To save typing, I use a wrapper

[code]

I'm experiencing some other usability issues which I need to report before confirming

[2019-04-15 06:28] lestephane opened #27 "hledger-flow refuses to process statements in the year 2011"
I've issued many `hledger-flow import` commands yesterday, and it could well be that one of them created include files where it shouldn't have.  Now i'm unable to import.

[code]

I don't think it's worth it to figure out (just yet) how I got there.

But my question is: **how do I safely remove all the include files generated by previous `hledger-flow import` runs**, so that I may start fresh, fro

[2019-04-15 06:57] apauley commented on #27
I usually remove all the generated include files first:
`$ grep -rl 'Generated by hledger-.*DO NOT EDIT' . | xargs rm`

Then I may also want to remove the preprocessed files and the generated journals:
`$ find . -type f -path '*2-preprocessed*' -or -type f -path '*3-journal*'|xargs rm`

[2019-04-15 07:06] apauley commented on #27
I'm looking at your current directory in the prompt, and it seems that you've changed to a subdirectory.

`hledger-flow` assumes the basedir is your current dir, unless you've specified the basedir on the command-line.

So you probably don't need to remove any files, just cd back to the basedir.

I can see this is probably surprising behaviour, we should consider being smarter at detecting the bas

[2019-04-15 07:15] apauley commented on #27
So just after I wrote the above I tried it out on the example data, and it seems that I'm wrong, it does work when running it in a deeper dir, I have just never tried it before.

I think the issue is related to the year 2011.
Yes, `hledger-flow` doesn't support 2011, sorry. Not a fan of that year :-)

Specifically, it looks for input files with this find function: `find (has (suffix "1-in"))`.
And

[2019-04-15 07:19] lestephane commented on #27
interesting. I did manage to run the command once (after cleaning),  but never twice. This explains it.

[2019-04-15 14:41] lestephane opened #28 "hledger-flow should exit with a non-zero error code if a journal construct invocation results in ExitFailure"
**Background**
I have PDF statements from my bank which i convert using a `construct` script (combination of pdftotext and awk script).

During the `hledger-flow import` invocation, I see some error, and indeed the corresponding journal is never created.

[code]

the problem is twofold:
- there is now a `YYYY-include.journal` file that contains the `!include` of a file that does not exist on the f

[2019-04-15 15:13] lestephane commented on #20
Works, thanks

[2019-04-15 21:45] #11 closed

[2019-04-15 21:45] #27 closed

[2019-04-16 03:49] apauley commented on #27
@lestephane Can you test if the latest release solves the 2001 issue?

https://github.com/apauley/hledger-flow/releases/tag/v0.11.1.1-beta

[2019-04-16 03:51] apauley commented on #20
@lestephane Can you test if the latest release has any effect on the mangled output?
I saw there were some output statements that didn't use the concurrency-safe functions, so I changed them.

If this doesn't make it better then I'll continue with capturing the output of the scripts.

https://github.com/apauley/hledger-flow/releases/tag/v0.11.1.1-beta

[2019-04-16 04:44] lestephane commented on #20
Looks good now!

[2019-04-16 04:44] #20 closed

[2019-04-16 04:52] lestephane commented on #27
Looks fine now, I'm able to run the import command more than once without errors.

[2019-04-16 04:55] lestephane commented on #28
Another example of ExitFailure that did not cause hledger-flow to exit with a non-zero code (a parsing error in a .rules file)

[code]

[2019-04-16 17:25] apauley commented on #28
Nice catch! I'll look at this as soon as I can make some time.

[2019-04-16 21:28] apauley commented on #28
I've made a change that I think should fix the issue, but I have only tested it briefly.

There should be a pre-release uploaded soon, if the build succeeds:
https://github.com/apauley/hledger-flow/releases/tag/v0.11.1.2-beta-pre

Otherwise you can build this using branch `exit-on-err`

[2019-04-17 20:03] #28 closed

[2019-04-17 20:03] #22 closed

[2019-04-17 20:41] apauley commented on #28
This should be fix now, please let me know if you see any other issues

[2019-04-17 20:46] apauley commented on #20
@lestephane Just out of interested, `hledger-flow` now captures the output of external processes, and outputs it safely after the process exited. But only when doing parallel processing - when doing sequential processing it lets the external process display its own output as it runs.

I'm keen to know if you see any more mangled output, especially when importing in parallel.

If you do see anythin

[2019-04-18 07:08] lestephane commented on #20
No problem, I haven't seen and mangled output so far. Running in parallel from now on

[2019-04-18 07:23] lestephane commented on #28
- I get a non zero exit code when a .rules file has a syntax error (stray 'else', invalid date)
- I get a non zero exit code when a `construct` script exits with a non-zero exit code.

As an optional usability improvement bonus, I would suggest adding a final one-line log statement like

[code]

Just before hledger-flow exits.

[2019-04-22 10:34] timo-a opened #36 "Smart date should include "last WEEKDAY" and "X days ago""
I would use those a lot...

**Edit:**
I am a new user and enter all data with `hledger add` (on the terminal).
At times I don't ask for a receipt because I can just memorize the price or it's just one item that I buy often.
~4 days later I remember, hey didn't I buy X last week? I think it was Thursday...

What I currently do:
`hledger add`
open external calendar see which date "last Thursday" is

[2019-04-22 11:20] apauley commented on #36
Hi @timo-a, can you describe how you currently use `hledger-flow`, and where these options could be used?

Your commands together with the expected output will be useful to have.

[2019-04-22 18:35] apauley commented on #28
@lestephane The error output in the latest release now looks something like this:

[code]

Let me know if you can think of more usability improvements.

[2019-04-27 08:49] #15 closed

[2019-04-27 09:12] apauley opened #39 "Move the verbose flag from the subcommands to the main list of options"
Related to #14

The `--verbose` flag is currently enabled on each subcommand, e.g.:

[code]

or

[code]

Change this so that the verbose flag is part of the main options, similar to `--help` and `--version`.

However, unlike `--help` and `--version`, the verbose flag should not just print some output and exit.
Instead, it should continue to expect one of the subcommands to be supplied, and then ru

[2019-04-27 09:38] apauley opened #40 "Allow multiple levels of verbosity"
Related to #14, #39 and #1

Allow multiple occurrences of the `-v` flag to indicate increased levels of verbosity.

Example:

[code]

[2019-05-05 20:09] apauley commented on #39
Closing: fixed by @jecaro in #42

[2019-05-05 20:09] #39 closed

[2019-05-05 20:36] apauley commented on #36
Hi @timo-a, I only saw your edit now.

It looks as if you are referring to the [hledger](https://github.com/simonmichael/hledger/) project,
and not `hledger-flow` which is this project.

I can definitely understand that their may be confusion around this.

I would suggest joining the `hledger` mailing list, or to use the `hledger` issue tracker.

http://list.hledger.org/

[2019-05-05 20:36] #36 closed

[2019-05-05 21:48] apauley commented on #13
Closing: not yet clear if we really need this

[2019-05-05 21:48] #13 closed

[2019-05-05 21:59] #14 closed

[2019-05-05 22:22] apauley opened #45 "Add a README to the release tarball"
The README should briefly mention how to verify the binary (`shasum -c sha256-hledger-flow_*`) and where to copy it so that it is in your PATH

[2019-05-05 22:31] apauley opened #46 "Add a logger"
Add a new dependency to the project that can log debugging output to log files.

Change the verbose logging to rather use the logger.

This will probably impact #40 - will we then need multiple levels of verbose output to stderr if we have a logger?
Maybe we can add an option to the effect of `--log-to-stderr` instead of to a file.

[2019-05-05 22:34] apauley opened #47 "Move the Feature Reference to Read The Docs"
Move the Feature Reference out of our README, and into
https://hledger-flow.readthedocs.io/

[2019-05-08 12:35] lestephane opened #49 "`hledger: user error CSVError (ParseErrorBundle...` is rather unclear"
(in v0.11.1.2)

I'm experiencing an error importing a CSV, and am at a loss as to whether the problem is in hledger or hledger-flow or my CSV file, or my rules file. The `pstateInput = "..."` part in the error below contains my whole CSV input file, which I cannot quote here because it is huge and contains PII, so i just put `...`

[code]

The CSV file in question loads without error in Libreoffic

[2019-05-08 16:05] lestephane opened #50 "where to put account aliases and type declarations (aka shared journal fragments needed by all journals)?"
(in v0.11.1.2)

I need to define two account aliases for accounts that I now use in multiple preprocess and construct files, to shield myself from having to modify multiple locations if I ever need to rename those two accounts (a distinct possibility)

[code]

Problem: I don't see the option to create a journal file that is included by all journal files.

There is a `all-years.journal` at the top-

[2019-05-08 16:17] lestephane commented on #50
The workaround I have for now is to add my aliases in the `~/.hledger.journal` file

[code]

[2019-05-09 10:36] lestephane opened #51 "How to deduplicate 2 transactions that are really one transfer from one bank account to another"
in `bank1.journal`, imported from bank1.csv

[code]

in `bank2.journal`, imported from bank2.csv

[code]

When I then run `hledger-ui`, I get an balance assertion error, because it sees two debits of EUR-11,22, not a single one, within the same day. I added the transaction code to try to make hledger-ui see one unique transaction, to no avail. It seems to work that way by design, which makes it di

[2019-05-09 15:09] apauley commented on #51
Thanks for raising this @lestephane, I think this is mostly a gap in our documentation at the moment.

The solution is to change your rules files to introduce an intermediate account as soon as you start importing statements for both accounts.

I use `Assets:Transfers:*`.

In your example `bank1` would move money into something like `Assets:Transfers:Bank1Bank2`, and `bank2` would use the same tra

[2019-05-09 19:54] apauley commented on #50
I haven't used aliases before, but maybe something to look at.
I've managed to put all my custom `preprocess` and `construct` logic in a single script, and then I symlink each `preprocess` or `construct` script to the single script.

Your `~/.hledger.journal` option seems like a good approach, although you could consider moving/renaming it so that it lives inside your hledger-flow directory (next

[2019-05-09 20:02] apauley commented on #50
With regards to how you tried to look at verbose output but didn't get any output looking for those files:
you should definitely be able to use those files  in `_manual_`, the only weirdness I can think of is that you'll create those per year, and for this case your own top-level journal is probably better suited.

I don't understand why you're not getting any output.

I get lots of output using t

[2019-05-09 20:08] apauley commented on #50
Can you run it with the `--show-options` flag and paste the options?

Also, just an FYI, when you upgrade to 0.12 you'll see that some of the command-line options moved from sub-commands to rather be part of the main options.

Use `--help` for details.

[2019-05-09 20:19] apauley commented on #49
In the short term I would suggest using your existing `preprocess` script to change the separator.
The `preprocess` script is intended to manipulate the format of CSV files, I think this is within the scope of that.

In the long term this would be solved in https://github.com/simonmichael/hledger/issues/868 like you said.
Maybe you could give your opinion on the whitespace separator issue under di

[2019-05-10 12:32] lestephane commented on #49
This issue is more about the clarity of the error message. If the clarity of the message is outside of hledger-flow control, then I need to close this issue and take it up to them. Let me know.

[2019-05-10 12:36] lestephane commented on #50
Sure, when time allows I'll add a "account aliases" documentation section.

Something's up with the verbose output, I did get the _update_ log entries on *some* import runs, but not others. Still trying to get the reproduction, then I'll file a separate issue for that.

[2019-05-10 20:00] apauley commented on #49
@lestephane We can improve our error messages to be as clear as possible as to what is failing and if it is `hledger-flow` or an external program that failed.

But there has been a lot of improvements after 0.11.1.2. Can you try it using 0.12?

I've changed the separators in one of the example input files, and this is what the error looks like in 0.12:

[code]

I'm keen to hear any suggestions you

[2019-05-12 20:42] lestephane commented on #51
Thanks for the explanation and the full-fledged hledger page (which somehow passed me by),
it's a saner way of handling it.

I want the directionality of the transfer to be apparent without digging in the journal,
so I settled for a ":TopUp" prefix to my "Assets:" accounts. So if you have regular transfers
between two accounts in both directions, you'll have a pair of transfer accounts.

Example:

[2019-05-18 09:01] #51 closed

[2019-05-18 10:59] apauley commented on #51
I've updated the FAQ with this solution:
https://github.com/apauley/hledger-flow#faq

[2019-05-30 08:55] lestephane commented on #50
This question also becomes relevant for account type declarations. These I would like to only specify in one place. I currently have an includes.journal at the top-level (one level above `import`), then I have a `generate-yearly-journals.sh` which creates, for each closed year, a YYYY.journal with

[code]
[code]

The shared include would be the place for:
- account aliases
- account type declarati

[2019-05-30 11:36] lestephane opened #63 "Proposal: persisting the autopostings to journal files would allow for review of changes made to rewriting rules"
**Is your feature request related to a problem? Please describe.**

I use autoposting rules to keep track of some out-of-pocket expenses that my company owes me.
If I make a change to an autoposting rule, I would like to review the ripple effect of the change, and of course version control it (not just the rule, *all affected postings*). If a change has many ripple effects, I'm much more likely to

[2019-05-30 11:55] lestephane opened #64 "Unable to run hledger-flow import in a sub-account directory (it always imports everything)"
**Describe the bug**

I used to be able to go to a sub-account directory that had its `preprocess` `construct` `1-in` etc
and to run `hledger-flow import` (without specifying an explicit directory), and it would just run the import in that directory. Now as of the latest release, it always imports everything, which takes on my machine 4 seconds for 2017+2018 across all my accounts concurrently. Th

[2019-05-30 19:39] kain88-de opened #65 "hledger-flow can only be run in same folder as import folder"
**Describe the bug**
A clear and concise description of what the bug is.

Lowest level auto generated files use relative import starting from the top import path. All other autogenerated journal files use the correct relative path. This does not happen is hledger-flow is started in the same folder that `import` is defined.

**Version and Runtime Information**

[code]

Also include the runtime opti

[2019-06-01 10:49] apauley commented on #65
Nice catch @kain88-de!

I've created PR https://github.com/apauley/hledger-flow/pull/66 to work on this.

If all goes well I'll release a fix in `v0.12.3.1`

In the meantime an easy workaround would be to ass `./` to your base dir (or make it absolute), as in:

[code]

[2019-06-01 13:57] apauley commented on #64
I changed the behaviour intentionally in v0.11.3 to always be consistent about what the base directory is:
https://github.com/apauley/hledger-flow/pull/41

My thinking at the time was that it would be less confusing if the base dir were always the same, in the same way that way that git treats the root of any git repo.

You do make a good case though for the need to import a subset of files.
Shoul

[2019-06-02 13:26] apauley commented on #63
Interesting use case - I haven't yet used auto postings. I'd like to add some to my personal journals so that I can run into the same issues you're describing.

The next week or two will be difficult though - but you're welcome to remind me about this if you haven't seen any activity in a few weeks.

[2019-06-02 13:29] apauley commented on #50
@lestephane Are you still up for the account aliases doc section?

[2019-06-02 13:31] apauley commented on #49
@lestephane Did you have a look at how the errors are displayed in the latest version? If you think they are fine then we can close this issue, otherwise I'd love to hear your thoughts on how we can improve it.

[2019-06-04 13:48] lestephane commented on #63
I don't use autopostings much yet, but seeing the effects of my changes in journals would allow me to experiment much more with them.

[2019-06-04 13:48] lestephane commented on #63
This is not urgent

[2019-06-04 13:58] lestephane commented on #50
I've not yet understood how to use account aliases effectively, so that fell by the wayside, but this issue remains valid for account type declarations, currency formats, shared stuff. I could document how to do that, but i'm still busy ingesting my statements and doing reporting for fiscal year 2018 (in two different countries), so I won't be able to tackle it just yet. I've explained the basic m

[2019-06-04 14:03] lestephane commented on #49
Let me try just now

[2019-06-05 13:34] lestephane commented on #49
The clarity of the error message is not something hledger-flow can do much about, but in the latest version it does at least include the command line that caused the error, which is sufficient for my purpose.

I've since moved away from csv rules file, using mostly awk based construct and preprocess scripts to be fully in control, but the improved logging will no doubt help others. Thanks!

[2019-06-05 13:34] #49 closed

[2019-06-05 14:02] lestephane commented on #64
Another reason to provide this partial import mode is that when something goes wrong and I need to run in `--verbose` mode, I typically also have to include `--sequential`. If `hledger-flow import` imports everything everytime, a lot of logging will occur, and unless you know what you're looking for, this will get tedious.

I don't have an elegant solution to how we should activate the partial imp

[2019-06-05 16:04] lestephane commented on #64
The workaround I currently use is actually not working either, v0.11.1.2 in sub-account import mode removes all siblings from include files in the parent directory of the directory where I run the import. That's another head scratcher.

[code]

I think it's fair to assume that running an import in a sub-account is unlikely to require a modification of any parent includes, and so all existing paren

[2019-06-06 14:14] apauley commented on #64
Running in a subdirectory isn't something I tried to support until v0.11.3, and then the behaviour I had in mind was to always import everything.

So I can think the behaviour is unpredictable in earlier versions. We'll have to change it and document it so that it is part of the supported feature set.

[2019-06-07 09:22] lestephane commented on #64
Good to know, I'll use v0.11.3 for my workaround for now, that version passed me by

[2019-06-07 11:40] lestephane commented on #64
Another side-effect of the automatic detection of the import directory (in _import everything_ mode) is that hledger-flow attempts to import some directories that exist outside of the import hierarchy. These are directories that I moved out of the way because they were work-in-progress. I don't expect them to cause an import error when I run an import in a subaccount of the root `import` directory

[2019-06-08 12:10] lestephane commented on #63
I have the following (working) workaround

First, make it possible to override the hledger command in the scope of my root import directory
[code]

Then, override the hledger command in such a way that hledger-flow picks it up
[code]

A few notes:
- The rewrite rules are in the shared `explicit-autopostings.journal` file, which itself is not
  `!include`-d anywhere else
- Adding an extra `-f expli

[2019-06-20 17:56] weitzj opened #67 "cannot define --separator option"
**Is your feature request related to a problem? Please describe.**

I would like to import CSV files, which use `;` as a separatorchar

**Version and Runtime Information**

Please mention the version number of `hledger-flow` you are using:
[code]

Is this the [latest version](https://github.com/apauley/hledger-flow/releases)?

If your request includes commands you ran and the output, please also i

[2019-06-23 15:30] apauley commented on #67
Hi @weitzj, thanks for taking the time to write up this request.

We've previously discussed this exact issue:
https://github.com/apauley/hledger-flow/issues/49#issuecomment-491050880

To summarize:
 - `hledger-flow` can help you here, just in a different way than you requested.
 - We don't want to add any separator option to the command-line options of `hledger-flow`, because `hledger-flow` opera

[2019-06-23 15:30] #67 closed

[2019-06-23 15:48] weitzj commented on #67
Hi @apauley . Thanks for the heads-up. I did not see the other issue. Shame on me. I like the idea of the separator-char option in the rules file. That would be superb.

[2019-06-23 17:32] #65 closed

[2019-06-23 17:53] apauley commented on #65
@kain88-de Can you please verify if release 0.12.3.1 fixes this issue? Thanks!

https://github.com/apauley/hledger-flow/releases/tag/v0.12.3.1

[2019-06-23 18:00] apauley commented on #64
@lestephane Could you please add `--show-options` to the output above (actually for all outputs when reporting something), I'd like to see what `hledger-flow` is using as the base dir.

Please do it with the latest `0.12.3.1` release, I've made a change to always use an absolute path for the base dir.

[2019-06-23 19:22] kain88-de commented on #65
works. Thanks

[2019-06-28 17:39] lestephane commented on #64
[code]

[2019-07-03 11:12] edwintorok opened #69 "Handling of historic currency/stock prices"
**Is your feature request related to a problem? Please describe.**

I want to import historic currency exchange rates and stock prices into hledger-flow.
Unfortunately using a `construct` script doesn't work because hledger-flow filters out and only retains transactions, not prices, see https://github.com/apauley/hledger-flow/blob/14e0150e8c162727a077cac9e7ff02b8c90b4d56/src/Hledger/Flow/CSVImport

[2019-07-03 12:06] edwintorok opened #70 "Parsing of PDF statements, and multi-currency accounts"
**Is your feature request related to a problem? Please describe.**

My bank only provides CSV/QIF/QFX statements for recent transactions on current accounts, but not savings accounts.
Historic transactions are available as:
* PDFs containing transaction history with running balance
* PDF for individual transaction events between internal/external accounts, called "advice confirms"
* `.xls` for sto

[2019-08-31 07:38] apauley commented on #40
Implemented in #68

[2019-08-31 07:38] #40 closed

[2019-09-10 05:27] lestephane commented on #70
@edwintorok My 2 cents, since I'm not a committer on the project.

The csv rules file format is **not** under the control of hledger-flow, and any change to that format needs to be followed up in the hledger project as separate issue(s). My experience with csv rules is that they're only useful with very simple situations. Of the 23 accounts I manage at the moment, not a single one is using CSV rul

[2019-10-13 09:50] lestephane opened #73 "`hledger-flow report` fails with latest hledger release (1.15.2) because of `Flag requires argument: --value`"
[code]

The doc says:

[code]

so `TYPE` is no longer optional...

This issue is not really blocking me, but I wanted to look at what reports it generates, and start asking questions about how to generate my own (without having to modify the haskell source code obviously).

[2019-10-13 12:13] simonmichael commented on #73
Sorry about that. In 1.15 —value became a new flag. -V still works without an argument, as before. I can’t easily provide flags with an optional argument, unfortunately.

[2019-10-14 09:39] apauley commented on #73
@lestephane @simonmichael Thanks for letting me know. These reports and the supplied switches are experimental, I don't have a strong opinion on what would be useful to use as default values.

So for now I'm going to remove the `--value` from that incomestatement report.

[2019-10-14 12:56] #73 closed

[2019-10-14 14:35] apauley commented on #73
New release without `--value` in reports: https://github.com/apauley/hledger-flow/releases/tag/v0.12.4.0

[2019-12-02 12:34] lestephane commented on #64
(Here is my current workaround for anyone interested)

I use the latest `hledger-flow import` when I need a **full** import, which is taking longer and longer as the number of files grows on my end (20 seconds for 290 files nowadays, will grow worse for sure). Since haskell also uses all available cores, that's 20 seconds where the laptop is not responsive. Can't have that.

 So if I'm only workin

[2019-12-02 22:37] apauley commented on #64
Hi @lestephane, thanks for detailing your workaround. I've been preoccupied with moving me and my family from Africa to Europe the last few months, but once I'm settled I would really like to get a good solution for this in.

[2020-01-12 18:49] amitaibu opened #75 "Document a GitHub Actions config to validate hledger-flow"
Not really a feature request, but not sure where to document this.

Below is a setup for GitHub Actions, to validate a repository with `hledger-flow`

[code]

[2020-01-13 07:17] #75 closed

[2020-01-13 07:20] apauley commented on #75
Thank you for the contribution @amitaibu - I've added a section to the README with this example.

Eventually the README should be migrated to proper user documentation, but for now this will get your contribution out there for others to use.

[2020-02-06 14:51] apauley commented on #70
@edwintorok The feature requests are well thought out and well explained, but I agree with @lestephane, `hledger-flow` is a workflow on top of `hledger`, and the features you describe really belong in `hledger` directly.

Luckily a lot of what you described, made it into the latest release:
https://hledger.org/release-notes.html

Specifically support for more than 2 accounts in the rules file:
htt

[2020-02-06 14:51] #70 closed

[2020-02-07 09:22] apauley commented on #64
@lestephane You can check out v0.13 for now:
https://github.com/apauley/hledger-flow/releases/tag/v0.13.0.0

It should solve one of your problems, the need to use v0.11.1.2
I'm still looking at the issue where include files in parent directories are regenerated with just a subset of journals.

Example use: `hledger-flow --show-options import --experimental-rundir ./import/gawie/bogart/cheque`

I r

[2020-02-09 12:37] lestephane commented on #70
I use `pdftotext -layout`+ `awk` all over the place in combination with hledger-flow, works well.

[2020-02-09 20:00] lestephane commented on #64
I've tried it a few times today and it seems to work,

[2020-02-29 23:37] apauley commented on #69
@edwintorok I know it has been a while since you posted this, but I have finally implemented something (released in [v 0.13.1](https://github.com/apauley/hledger-flow/releases/tag/v0.13.1.0)) that can deal with prices.

In the off chance that you still find this useful, please have a look:
https://github.com/apauley/hledger-flow/#price-files

[2020-02-29 23:37] #69 closed

[2020-03-07 08:17] apauley commented on #64
@lestephane I haven't released anything yet, but there is something that mostly works in the branch `rundir-improvements` (#78).

You can compile that branch and test it a bit if you'd like.
There have been a lot of annoying corner cases that I fixed as I found them, so please let me know if you find anything else unexpected.

Usage:
[code]

A known issue in that branch:
if you're doing a full imp

[2020-03-11 05:07] lestephane commented on #64
Thanks, i'll checkout the branch and try.

[2020-03-11 06:18] apauley commented on #64
@lestephane The branch is gone, I merged and released it a few hours ago:
https://github.com/apauley/hledger-flow/releases/tag/v0.13.2.0

The known issue I mentioned is also fixed.

[2020-03-14 07:43] lestephane commented on #64
compiling, should I be worried about this warning?

[code]

[2020-03-14 08:03] lestephane opened #79 "The -closing include should be part of all-years.journal, not yyyy-include.journal"
## Description

In the situation where one has `yyyy-opening.journal` and `yyyy-closing.journal` for a specific year,
running one of the hledger built-in financial reports on one specific year, the user will be faced with empty reports

[code]

because hledger-flow adds an include to `yyyy-closing.journal` in the `yyyy-include.journal`, which effectively brings all the counters back to zero.

## E

[2020-03-14 12:01] lestephane commented on #64
Looking good so far, and I didn't notice any unexpectedly modified include files.

[2020-03-14 19:41] apauley commented on #64
Great, let's close this issue, I think the main issue is solved. If it isn't we can re-open.
But for issues that are possibly just related, not exactly the same, I'll prefer a new issue to be opened. We can link to this one though if that happens.

Future releases will still remove the flag and make this behaviour the default.

No need to worry about this, it compiles successfully despite the warn

[2020-03-14 19:41] #64 closed

[2020-03-14 21:03] apauley commented on #79
Thanks for double checking closing journals, this is something I haven't spent a lot of thinking time on yet - initially the whole concept of closing accounts seemed foreign to my non-accounting brain. But I'm warming up to it :-)

I especially would like to hear someone else's ideas on if it possible/feasible to use `hledger close` to automate some of this.

OK, back to your issue. While trying t

[2020-03-15 05:14] lestephane commented on #79
uh you're right, too much bookkeeping yesterday.

I'll try to dig the exact command line that was generating an empty report and re-open with that.

[2020-03-15 05:18] lestephane commented on #79
FYI this is how i implement closing the year...

[code]

- I include `Transfers:` because that is money that might be in transit into and out of an assets account.
- `clear-year` just deletes the existing `-opening` and `-closing` journal

[2020-03-15 07:46] lestephane commented on #79
Here is more information:

[code]

- `import/2017-include.journal`is the yearly include generated by hledger-flow import, which will include the -opening and -closing journals (if found to be present).

- `includes.journal` contains
  - account directives for my account hierarchy (they are not following the standard naming)

[code]
  - historical price (`P`) directives

To test my theory that the

[2020-03-16 07:58] apauley commented on #79
Yes, I see the problem, I'll try to find out some more good practices around closing balances before implementing a solution.

[2020-03-17 21:44] apauley commented on #79
The issue is discussed in the hledger documentation here:
https://hledger.org/hledger.html#close-usage

When playing around with `bal` and `balancesheet`, I get good results when excluding the closing balances transaction with a `bal`:
[code]

I still get results I do not particularly understand when doing the same exclusion on a balancesheet.

It seems that the proposed solution where we craft in

[2020-03-18 09:41] apauley commented on #79
Here is a more detailed examination with some simple example journals:
https://github.com/apauley/hledger-acorns

[2020-04-04 15:18] lestephane commented on #79
The approach I now take is as follows

- Have a `close-years.sh` script that, for each year, creates the `opening` and `closing` journal next to the hledger-flow `yyyy-include.journal`

[code]
- The `"${my_dir}/${close_year}.journal"`file is the yearly file used by full-fledged-hledger's `export.hs` file. `export.hs` now works (there is data for the balance sheet report), because the closing journ

[2020-05-19 03:35] ideasman42 opened #80 "Readme doesn't use indentation for Opening/Closing Balance"
This example in the readme.org should have indentation.

[code]
Should be indented like this:
[code]

[2020-05-19 07:04] #80 closed

[2020-05-19 07:06] apauley commented on #80
Thanks @ideasman42, it is fixed now.

[2020-06-03 13:56] lestephane opened #81 "Need a way to import only the current year"
**Is your feature request related to a problem? Please describe.**

As my full import takes longer and longer, it starts making sense to restrict the years to import. Currently it imports as far back as it finds years. My top 5 time consumers during full import are from past year.

I would need to import only the current year, and I could revert to full import when I make
a change that influences

[2020-06-10 20:54] Abu-Daud opened #82 "import YY as 20YY"
Hi, How do I import Y=20 as 2020?
When I use %Y it comes across as 0020

OS X
`hledger-flow -v import`

contents of rules file:
`skip 1`

`fields date, description, amount`
`date-format %-m/%-d/%--Y`
`currency $`

error code:
`Exit code 1`
`Error output:`
`hledger: error: could not parse "6/7/20" as a date using date format "%-m/%-d/%--Y"`

[2020-06-12 08:44] apauley commented on #82
Hi @Abu-Daud, the rules file is parsed by the upstream [hledger](https://hledger.org/) project, not by `hledger-flow`.

But looking at your issue, it seems that you need a lower-case `y` in your date format.

See https://hledger.org/csv.html#date-format

As a side comment: `hledger-flow` provides you with the preprocess and/or construct hooks if for any reason the standard `hledger` features doesn

[2020-06-12 08:44] #82 closed

[2020-06-14 10:04] mwesten opened #83 "hledger-flow fails path tests on windows systems"
**Describe the bug**
When building hledger-flow in a Windows (Windows10) system, the executable is built correctly, but the tests fail, because of the path-separator. The included tests expect a unix path separtor `/` while the system returns the Windows path separator `\`.
This is only a thing in the tests; the code itself checks for the path-separator.

Installing and running the hledger-app and

[2020-06-14 10:27] mwesten opened #84 "hledger executable not found on windows"
**Describe the bug**
The hledger executable is not found by hledger-flow on windows. It tries to search for the executable file `hledger` in the path, but on windows it should look for `hledger.exe`.

Changing the file it searches for in `src\Common.hs` on line 59 from `maybeH <- which "hledger"` to `maybeH <- which "hledger.exe"` fixes the problem on windows, so a platform check and saerch accord

[2020-06-14 10:43] mwesten opened #85 "Windows: the preprocess and construct scripts are not executed"
**Describe the bug**
When using hledger-flow on windows the `preprocess` and `construct` scripts that are called from `src\CSVImports.hs` (line 70/71) cannot be called.

On Windows executable files or scripts need a file-extension, not just only an executable attribute, hence windows doesn't know what to do with the `preprocess` and `construct` scripts.
You could for example try to find a `preproc

[2020-06-14 21:57] apauley commented on #85
Hi @mwesten, thanks for these reports. I do not personally have a Windows system available.

I would be happy to accept a pull request that fixes these issues if you are interested in doing it.

About this specific issue - what happens if you just name the script `preprocess.bat`? Will it then run the batch script on Windows even though it is called without naming an extension?

[2020-06-26 19:18] ketzacoatl opened #86 "QUESTION: tags, reports, multiple contributors, virtual accounts, how to do it simply?"
**Is your feature request related to a problem? Please describe.**

Hi, this is a great project! This has helped me make full-fledged-hledger (and hledger!) significantly more accessible, thank you for that.

Being new to hledger/PTA and hledger-flow, I may just be overlooking how to do what I want to do with existing features. If that is the case, I apologize and would appreciate guidance on what

[2020-08-09 18:40] apauley commented on #81
This sounds like a good addition to make.

At the moment I'm prioritising #87 before doing any other changes.
It is slow going - I spend most of my after-work time with normal family matters.

[2020-08-29 06:27] apauley commented on #81
@lestephane I've added a different performance-related option in #89, which I'm hoping to release later this weekend.
It makes a big difference in my import, and based on what I understand from your setup it might be the generic speed improvement you want.

[2020-08-29 07:22] apauley commented on #79
I've updated the README section on closing balances to point to this issue:
https://github.com/apauley/hledger-flow#a-note-of-caution-regarding-closing-balances

[2020-09-03 06:53] apauley commented on #64
`--enable-future-rundir` is now the default behaviour, as of [release 0.14.1](https://github.com/apauley/hledger-flow/releases/tag/v0.14.1.0). The option has been deprecated (will be removed in a future release).

Specifying the option in the latest release doesn't do anything, other than print a message to the console.

[2020-09-06 21:02] #81 closed

[2020-09-06 21:34] apauley commented on #86
Hi @ketzacoatl !

Sorry for only getting back to you now. Let me see if I can answer some of your questions.

### Tags

Tags are put into comments, so if you want a rule in your rules file to generate a tag you can do something like this:

[code]

https://hledger.org/journal.html#tags
https://hledger.org/tags-tutorial.html
https://hledger.org/csv.html

### Projects

I'm assuming you're not talking

[2020-09-06 21:34] #86 closed

[2020-09-06 21:41] apauley commented on #81
Released as part of [Version 0.14.2](https://github.com/apauley/hledger-flow/releases/tag/v0.14.2.0)

[2020-09-08 20:27] apauley commented on #50
I noticed this issue while looking through past issues, and I think I can make some improvements without too effort.

Relevant hledger docs:
https://hledger.org/journal.html#directives

I have some code in master (currently unreleased) which looks for a `directives.journal` in the base directory, and includes it in the top-level all-years.journal if it exists:

[code]

This should work as a place

[2020-09-08 21:30] simonmichael commented on #50
Warning, some directives have limited scope - see the "Can affect" column at that link - and might need to be in the topmost file to affect everything.

[2020-09-09 09:12] apauley commented on #50
Thanks @simonmichael, I didn't notice the "Can effect" column until you mentioned it here - I missed that there's a scrollbar for that table. I'll play with it until I understand how it works.

[2020-09-09 14:15] simonmichael commented on #50
It's a bit non obvious (both scroll bar and directive behaviours - feel free to ask for more clarity on irc.)

[2020-09-09 21:27] ketzacoatl commented on #86
Hi @apauley, thank you for your reply.

OK, so if I want to use a column in my CSV file for tags, I should have the rules include a comment field and use that. Thank you for clarifying!

[2021-01-06 18:00] lestephane opened #91 "when preprocess is called with a $1 that has a .timeclock extension, $2 has a .csv extension"
**Describe the bug**
I use .timeclock files in one of my time 'account' directories where there is a preprocess and a construct script.
The preprocess script is called with $1 = `$filename.timeclock` and $2 = `$filename.csv`. The problem is that my
preprocess script does not alter the format of the file, it just cleans it. I end up with a csv file that is still a timeclock
file, but has a .csv ext

[2021-01-07 12:50] lestephane commented on #91
no longer an issue, I just found this at https://hledger.org/hledger.html#including-other-files

[code]

[2021-01-07 12:50] #91 closed

[2021-01-07 15:48] apauley commented on #91
Glad you found a solution @lestephane!

I haven't personally needed to save `preprocess` output files in any other format than csv, but I guess it is possible.

We can discuss possibilities if the issue pops up again, and compare it to using `construct` like you mentioned.

[2021-02-01 10:32] lestephane opened #92 "3-journal/ files not ending in ".journal" extension are added to yearly include files"
**Describe the bug**
I cheat a bit and add, next to each .journal file in 3-journal, a .png of a related invoice, and a .json of the google text detection api response. These extra files used to be ignored by hledger-flow import, now they get added to the yearly include, causing hledger to fail:

[code]

**Version and Runtime Information**

hledger-flow-v0.14.2.0

Is this the [latest version](http

[2021-02-01 10:37] lestephane commented on #92
The workaround is to remove all include lines that do not contain .journal  from include files:

[code]

[2021-02-02 09:42] apauley commented on #92
I haven't even considered putting other files in the journal dir, but I guess there's no reason this shouldn't be possible 😃

I'll have a look at it within the next 2 or 3 days, hopefully it is an easy fix.

[2021-02-02 13:54] lestephane commented on #92
I have a workaround, so it's not really urgent, but I wanted to let you
know that there are creative uses of your tool.

On Tue, Feb 2, 2021 at 11:42 AM Andreas Pauley <notifications@github.com>
wrote:

--

[2021-02-06 23:34] #92 closed

[2021-02-07 20:20] apauley commented on #92
Released as [version 0.14.3](https://github.com/apauley/hledger-flow/releases/tag/v0.14.3.0)

[2021-02-15 15:08] lestephane commented on #92
Thanks, I will try it at the end of the month when I do the next round of bookkeeping.

[2021-03-01 14:43] lestephane commented on #92
Verified! Thanks

[2021-04-12 12:51] lestephane opened #93 "Make it possible to configure the number of cores being used (the default is to use all cores, which slows down the machine)"
I have 8 cores (4 physical + hyperthreading), and this is what it looks like when I run hledger-flow --import
![image](https://user-images.githubusercontent.com/5460884/114396786-a0d32280-9ba6-11eb-9ec8-e9433780237c.png)

Can we have a way to change the default? I may want to run only with 2 cores if there are a lot of open applications...

[2021-04-12 12:54] lestephane commented on #93
In the worst case scenario, the machine is so slow that I don't have time to close apps when I notice that memory is about to run out. I do not use swapping, and it basically crashes my machine then. That's with 16GB of RAM, and it happened twice in the last week. So it's not a theoretical possibility. If I use less cores, I have a bit more time to see it coming, the mouse cursor is still visible,

[2021-04-12 18:50] apauley commented on #93
I'm guessing this happens only when you do a full import that re-generates all files, right?

I'm interested to know if `--new-files-only` and/or `--start-year` is useful to you, and if it prevents this issue?

[2021-04-12 19:00] simonmichael commented on #93
Ouch. @lestephane feel free to give more numbers describing what's happening with just one of those hledger invocations.

[2021-04-12 20:24] apauley commented on #93
@lestephane could you please run your import again with the code in branch `async-batches`?

I didn't have time to fully investigate the cause and possible solutions, but the code in that branch tries to import the files in smaller batches.
The batch size aren't configurable for now (it uses one less than the number of cores detected), but if this is the way to proceed I can make it a command-line

[2021-04-13 08:17] lestephane commented on #93
No need to worry on the hledger end. This is not a case of runaway memory leak in there. Just too many apps open on my desktop, and it's a case of memory usage going over the top. By running with less cores, I could at least reduce the memory until I'm able to keep working while it imports.

[2021-04-13 08:17] lestephane commented on #93
I will use that branch and report.

[2021-04-13 08:22] lestephane commented on #91
FYI, I have an example of where having more control over the extension in preprocess might be nice.  I put invoice PDFs in `1-in`, and the `preprocess` command calls  `pdftotext --layout`. The files you end up with in `2-preprocess` are plain text files, but double-clicking on them (while working on the .awk parsing script for the construct phase) will start Libreoffice.

Not saying it's absolutel

[2021-04-13 08:48] lestephane commented on #93
When I run an import on the top directory. If that's what you mean by regenerating all files, I guess that's a yes answer.

I have yet to try those...

[2021-04-13 10:41] lestephane commented on #93
The import is not 1/8th slower but 1/4 slower.

[code]

 But keep in mind, most of the work is done is AWK and shell scripts hledger-flow has no control over, so I can only speculate from this point onwards.

I think you meant to use N - 1 where N is the count of **physical cores** (so in my case you'd use 3 physical cores by default, or 6 virtual if you're able to ensure each pair of virtual core

[2021-04-13 16:12] apauley commented on #93
It looks like the info I have available to work with is listed here, e.g `getNumCapabilities` and `getNumProcessors`
https://hackage.haskell.org/package/base-4.14.1.0/docs/GHC-Conc.html#g:1

`getNumCapabilities` seems to be the number of cores that are available to use

`getNumProcessors` seems to be just the total number of cores that the Haskell RTS knows about.

I have added these 2 numbers in

[2021-04-14 09:56] lestephane commented on #93
I tried with 2 in the sandwich parameter, and it fails with exit code 137, and there is no output despite using --verbose.
I see it has batchSize = 0. So maybe an off-by-one mistake.

[code]

 If I use 3 it works, and there is output
[code]

I'm not sure of the relationship between batchSize and cores now. It used to be one-to-one, but I see you used batchSize 100 in your last example. If I use 10

[2021-04-15 12:25] apauley commented on #93
That's because the default batch size is currently the number of available cores - 2. So if you specify 2 it will try to process files in batches of 0 😄 . I can see how that's not very helpful, I should build some kind of minimum in there.

And then the batch size is 1, which means it is basically sequential processing.

There isn't a direct relationship between cores and batch size.

The way I un

[2021-04-15 12:58] lestephane commented on #93
two command-line arguments are fine with me, one for cores, and one for batch size.

I have another problem I need to report. On that branch, i'll submit as soon as I'm done bookkeeping

[2021-04-15 13:26] apauley commented on #93
OK, but the argument that is supposed to limit the cores doesn't actually limit the cores on my machine, in which case it doesn't make sense to specify it.

I used htop to check which cores are being used while I set the batch size high and the available cores low.

The processing time and htop usage looked the same to me for these 3 commands:
[code]

Can you check how it behaves on your machine?

[2021-04-15 15:33] lestephane commented on #93
I've got more measurements, but somehow I don't think it will make things clearer :)
I'm a bit out of my depth with the underlying mechanism used by haskell to execute batches.
In my case with 900 journals, 100 is already bringing a significant speedup (for 6 cores).
What I can convey is which ones got the fan spinning, I need a better tool for that.
Benchmarking is hard.

[code]

[2021-04-15 16:02] lestephane commented on #93
hmm i think I know what you mean now, I tried 6 cores and 250 as batchSize, it looks like all cores are still used. Mystery remains.

[2021-04-15 20:27] apauley commented on #93
Thanks for sharing the benchmarks.

I think the RTS params are ignored, the batch size is the only variable that makes a difference.

So what I do with the batches (assuming a batch size of 100 to have some concrete number) is take 100 IO actions (where an "action" is an import file to journal file conversion in this case), then I tell Haskell to execute the 100 actions in parallel, and I wait unt

[2021-04-16 17:59] lestephane commented on #93
I'll try to find a way to include memory and load, not just timing, to my benchmark

[2021-04-21 07:35] lestephane commented on #64
@apauley the ability to specify an arbitrary directory has disappeared. Was that intentional?

[code]

[2021-04-21 08:29] apauley commented on #64
batch size is an option on the main hledger-flow command, and if you put it after the `import` subcommand it is interpreted as an option on `import`.

I think it should work if you move `--batch-size 200` to just before `import`

[2021-04-22 06:59] lestephane commented on #64
Right you are, my wrapper helper script ordering of those arguments was to blame.

[2021-04-24 12:35] lestephane opened #95 "hledger-flow does not 'see' hledger despite it being present in the PATH as a symlink executable"
**To Reproduce**

[code]

[2021-04-24 12:36] lestephane commented on #95
I need more info on how to do that, as a temporary workaround...

[2021-04-24 14:43] apauley commented on #95
I don't know why it doesn't see `hledger` in the custom path, but here's how to explicitly specify the path.

First start by checking the available options with `--help`:

[code]

Here's an example of using `--hledger-path`:

[code]

[2021-04-24 18:17] lestephane commented on #95
hmm somehow I did not see the `--hledger-path` option. It was staring me in the face. Long day

[2021-06-09 16:58] reedmb opened #98 "cabal install error: Not in scope: type constructor 'Rel'"
**Describe the bug**
Using:  `cabal install hledger-flow`
Receive:
Resolving dependencies...
Build profile: -w ghc-8.10.5 -O1
In order, the following will be built (use -v for more details):
 - gitrev-1.3.1 (lib) (requires download & build)
 - hostname-1.0 (lib:hostname) (requires download & build)
 - managed-1.0.8 (lib) (requires download & build)
 - mwc-random-0.15.0.1 (lib) (requires download &

[2021-06-09 20:45] apauley commented on #98
Hi @reedmb,

Thanks for reporting this 👍

I use [stack](https://docs.haskellstack.org/en/stable/README/) to build `hledger-flow`, have a look at the build instructions here:

https://github.com/apauley/hledger-flow/blob/master/CONTRIBUTING.org#build-the-project

Does that work for you?

You can also download a pre-compiled binary [here](https://github.com/apauley/hledger-flow/releases) and put it

[2021-06-09 22:54] reedmb commented on #98
I will give stack or binary a try. I am too green with Haskell to give cabal install support a try. I do appreciate the welcoming offer to help. Thank you for your time to explain and offer options.

[2021-06-11 09:20] #98 closed

[2021-06-12 17:58] sbibauw opened #99 "Question: where to include "meta" statements (`account...`, `commodity format` & `alias`) & prices?"
First, thank you for `hledger-flow`! I really appreciate the opinionated guidance on structure and the help on the non-destructive workflow.

I have a really basic question, but which I really couldn't find any answer about, nor here, nor on [`hledger-flow-example`](https://github.com/apauley/hledger-flow-example), nor on [`full-fledged-hledger`](https://github.com/adept/full-fledged-hledger/):

*

[2021-06-14 05:05] sbibauw commented on #99
An additional issue linked to this: today, I tried to import a CSV which has a different `decimal-mark` (`,`) than the main journal (`.`). I [saw](https://github.com/simonmichael/hledger/issues/1158) that `hledger` knows how to convert to the default commodity format when it imports, but because `hledger flow import` makes hledger importing it to a file that has none of those meta statements, it d

[2021-06-14 07:43] apauley commented on #99
Hi @sbibauw, thanks for mentioning these issues. I think I have answers to at least some of them, and we should probably update the README with additional info.

About the "meta" statements you mention, this is a glaring gap in the docs:
you can add a `directives.journal` at the top-level directory, and the generated `all-years.journal` should then include it.

[code]

I initially added this as pa

[2021-06-14 15:41] simonmichael commented on #99
I can't help pointing out that !include is ancient deprecated syntax - the ! Is unnecessary. Just in case you weren't aware. :)

[2021-06-15 15:08] apauley commented on #99
Thanks, I'll have to update the include file generation to use less ancient syntax 😃

[2021-06-15 16:48] sbibauw commented on #99
Thank you for the detailed answer @apauley . `directives.journal` works great. I didn't catch the location of `prices/2021/journal.prices`, so thanks for pointing that out. (I really believe that putting a more detailed example on `hledger-flow-example` would help make it a lot clearer for new users: I'll submit a PR there.)

So, there are only 2 things that I'm still wondering:

1. Is there a way

[2021-06-15 17:09] simonmichael commented on #99
Nice, could I ask how you found that ? I had forgotten it.

[2021-06-16 02:24] sbibauw commented on #99
I'm pretty sure I found the link to this gist somewhere on your doc site for `hledger`, but now, I've been trying to find it without any luck!

[2021-06-16 12:21] apauley commented on #99
1. There isn't a built-in way to easily or automatically let the tool choose the manual journal file. Personally I only add transactions manually in a few cases, and then I specify the file I want with my own hands like a cave-man.

In my case the `_manual_/YYYY/*-import.journal` just contains more include statements which I use to further organize my journals. So for me personally I don't think i

[2021-06-17 16:02] sbibauw commented on #99
Thank you for these answers

For `hledger add` and `hledger-iadd`, @simonmichael kindly pointed to the fact that `hledger` accepts multiple `-f` arguments and will add the transactions to the first file. So the solution for adding manual transactions while taking all the history into account is to do something like:

[code]

I understand that, if you can, it is obviously better not to have to add

[2021-06-17 16:11] #99 closed

[2021-06-17 16:14] sbibauw commented on #99
I didn't realize that this was a partial duplicate of #50 . Sorry!

[2021-06-24 09:44] #93 closed

[2021-06-24 10:09] apauley commented on #93
Released batching support in [version 0.14.4](https://github.com/apauley/hledger-flow/releases/tag/v0.14.4).

[2021-07-14 10:32] #50 closed

[2021-07-14 16:30] sbibauw opened #102 "File-specific rules"
On [https://github.com/adept/full-fledged-hledger/wiki/File-specific-rules](this page), @josephmturner and @adept have proposed to use file-specific rules, i.e. hyperspecific rules that would only apply to one specific imported file, typically because they only target one transaction or transactions from this specific timeframe. The main reason for this is to avoid cluttering the main rules file w

[2021-07-14 18:17] apauley commented on #102
Could this case be covered by naming the file in question using the `rfo` conventions?

They are described here:
https://github.com/apauley/hledger-flow#statement-specific-rules-files

[2021-07-17 18:54] apauley commented on #99
@sbibauw Would you mind trying out the [0.15 release](https://github.com/apauley/hledger-flow/releases/tag/v0.15.0) on the Paypal files you mentioned to see if the amount format is now different? I've switched to using `hledger import`, and I'm giving it the `directives.journal` as a parameter, so it should use the commodity formats you declared.

[2021-07-17 18:56] apauley commented on #99
@simonmichael The latest release now generates files without the obsolete `!include` syntax :-)

[2021-07-20 21:25] sbibauw commented on #99
Yes, it works! I had solved my Paypal issue, but I just noticed today I had this issue in another file, and YES, the 0.15 release changes the amount format in the generated journal files! Thanks a lot for that!

[2021-07-21 03:45] sbibauw commented on #102
Actually, no. The format of these files is still the same and all generic rules still apply.

It's just a way to isolate hyperspecific transaction allocation rules that only apply once.

E.g., in your `hledger-flow-example`:

All generic rules are in `import/gawie/bogart/cheque/bogart-cheque.rules`:

[code]

but rules that only have to be applied to one file are in a specific rules file:

**`impor

[2021-08-22 09:26] lestephane opened #103 "hledger-flow does not 'see' _manual_ year subdirectory if there is no corresponding 1-in subdirectory"
**Describe the bug**
![image](https://user-images.githubusercontent.com/5460884/130349690-305b403f-e88d-4092-8acc-8452e8518452.png)

**Version and Runtime Information**

Please mention the version number of `hledger-flow` you are using:
[code]

Is this the [latest version](https://github.com/apauley/hledger-flow/releases)?

*Yes*

Also include the runtime options of the command you ran, e.g:
[code

[2021-08-22 10:09] lestephane commented on #103
A possible workaround is to create an empty `.journal` in `1-in/YYYY+1` and `1-in/YYYY+2`.

![image](https://user-images.githubusercontent.com/5460884/130351305-412b4e9e-d1c7-4026-b80a-e0aafec6c9b2.png)

[2022-03-22 14:42] ketzacoatl opened #107 "QUESTION: how to break up a transaction/payment?"
I have a question about how to use hledger-flow with this situation:

For some of my transactions, I would like to break them down into a group of transactions that are together. For example, if I shop at the hardware store and purchase some tools, and then some supplies for different projects, I'd like to be able to see the high-level transaction for all of those items, the taxes, etc, with the h

[2022-03-22 14:50] apauley commented on #107
Hi @ketzacoatl

This sounds like something that you would structure with hledger subaccounts, using the normal hledger rules files.

And I think [tags](https://hledger.org/hledger.html#tags-1) could also be useful here.

[2022-03-22 14:58] ketzacoatl commented on #107
Thanks for the super fast reply @apauley!

If I may ask, could you clarify what that would look like with a small example?

[2022-03-22 15:01] apauley commented on #107
Sure, I was just looking through my own rules files.

This contrived example can be put in a rules file. It has both a subaccount and a tag for `ProjectA` - you may not need both though. It all depends on how you'd want to query it.

[code]

[2022-03-22 15:05] ketzacoatl commented on #107
One thing I'm not understanding is what the csv entries would look like. Using my example above, ATM I have only one transaction for the top-level interaction with the hardware store, but I'm not sure how to tell hledger-flow about the breakdown for that one transaction into the several smaller ones that make it up.

[2022-03-22 15:43] apauley commented on #107
You can specify multiple accounts and amounts when you want to do a breakdown of one transaction:

[code]

[2022-03-23 08:02] apauley commented on #107
Yes, this is in the rules file. There are lots of cool options:
https://hledger.org/hledger.html#csv-rules

I don't understand what you mean by "unique ID", are you talking about the regex/matcher?
In your example you may need a regex/matcher that uniquely matches your transaction, and then you need to specify the breakdown.

In my rules files I mostly have matchers that match multiple transaction

[2022-03-23 11:41] ketzacoatl commented on #107
Yes

Nice, can you share a redacted/example csv entry and rule pair that demonstrate this? That would help me understand what pieces are in this puzzle.

Thank you!

[2022-04-01 01:32] ketzacoatl commented on #107
This is a nice and really concrete example to work with, @apauley. Could you share a redacted example of how you have set this up?

[2022-04-01 01:53] ketzacoatl commented on #107
hledger seems to have support for accountN/amountN, for 1..9 - https://github.com/simonmichael/hledger/pull/1095. Could that be exposed/used from hledge-flow import csv processing?

[2022-04-03 19:27] apauley commented on #107
Hi @ketzacoatl - hledger-flow already exposes all of the hledger functionality you mention. hledger-flow just runs hledger with a specific rules file.

Here is a fuller example, where someone gets paid 100 gold pieces in total, but just 40 of those gold pieces are paid into the bank account after taxes and benefits are kept back.

Given a csv line from the bank:
[code]

And a rules file:
[code]

Y

[2022-04-03 21:34] ketzacoatl commented on #107
@apauley,

Thank you for taking the time to explain these details to me.

Does this mean the account2...N and such are also available in the csv file, if specified as a field in the rules file? I think one thing I've been confused about in your examples have been the 2nd/etc amounts down in the rules file instead of being in the csv data.

[2022-06-23 06:08] jfly opened #108 "If I delete a file in a `1-in` directory, re-running `hledger-flow import` does not remove the corresponding files in the `2-preprocessed` and `3-journal` directories"
First off, thanks for a wonderful tool!

**Describe the bug**
If I delete a file in a `1-in` directory, re-running `hledger-flow import` does not remove the corresponding files in the `2-preprocessed` and `3-journal` directories.

**Version and Runtime Information**

Please mention the version number of `hledger-flow` you are using:
[code]

I know this is not the latest version of hledger-flow, so

[2022-06-24 14:15] apauley commented on #108
Yes, I also run into this from time to time, and then I manually delete those generated files.

I guess we can automatically delete files in `2-preprocessed` and `3-journal` during each import - but I don't know if some people have put other files they care about in those directories.

Maybe if we limit our auto-deletion to just `.csv` and `.journal` files it should be safe